.body1{
    background-image: url(../../../public/img/liquid-purple-art-painting-abstract-colorful-background-with-color-splash-paints-modern-art.jpg);
    background-size: cover;
}
.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}

.button-3d {
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FF69B4;
    color: #fff;
    border: none;
    box-shadow: 2px 2px 5px #ed7979;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: translateZ(5px);
        background-color: rgba(206, 45, 221, 0.848);
    }
}
